body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#name {
    font-family: 'Open Sans', sans-serif;
    font: 400;
    margin-bottom: 1.5em;
}

#mypic {
    width: 24em;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

#intro {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-right: none;
    margin-left: none;
}

#education {
    text-align: right;
}

#education {
    background-color: white;
}

#interests {
    background-color: white;
}

p {
    margin-left: 5em; 
    margin-right: 5em;
}

a:hover {
    text-decoration: none;
    color: darkcyan;
}

#right {
    text-align: right;
}