body {
    font-family: 'Open Sans', sans-serif;
}

#name {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font: 400;
}

#mypic {
    width: 400px;
    margin-bottom: auto;
}

#intro {
    display: block;
    text-align: center;
    margin-right: auto;
}