body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#name {
    font-family: 'Open Sans', sans-serif;
    font: 400;
    margin-bottom: 1.5em;
}

#mypic {
    width: 400px;
    margin-bottom: auto;
}

#intro {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-right: auto;
}